{% extends 'app/base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">About Us</h2>
    <br>
    <div class="row">
        <p class="fs-4 text-center">Welcome to Local Council Authority, your trusted resource for accessing essential services and information in our community. We envision a thriving community where all residents have equitable access to resources, opportunities, and services that empower them to lead fulfilling lives. We are committed to ensuring that our services and information are accessible to all residents, regardless of their background or abilities. We believe in transparency and accountability in all aspects of our operations, fostering trust and confidence among residents. We embrace diversity and inclusivity, valuing the unique perspectives and contributions of every member of our community. We continuously strive for innovation and improvement, seeking new ways to better serve the evolving needs of our community.</p>
    </div>
    <br><br>
    <h2 class="text-center">Mission</h2>
    <br>
    <div class="row">
        <p class="fs-4 text-center">At Local Council Authority, our mission is to serve the residents of our community by providing accessible and efficient public services that enhance quality of life and promote civic engagement. We envision a thriving community where all residents have equitable access to resources, opportunities, and services that empower them to lead fulfilling lives.</p>
    </div>
</div>
{% endblock main-content %}
