{% extends 'app/base.html' %}

{% block title %}Submission Success{% endblock title %}

{% block main-content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Success!</h4>
                <p>Your request has been successfully submitted.</p>
                <hr>
                <p class="mb-0">Our team will review your information shortly.</p>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript redirection script -->
<script>
    // Redirect to services page after 5 seconds (5000 milliseconds)
    setTimeout(function() {
        window.location.href = "{% url 'success' %}";
    }, 5000);
</script>
{% endblock main-content %}
